In [1]:
%load_ext autoreload
%autoreload 1

In [2]:
import polars as pl
import numpy as np
import random

In [3]:
df_t = pl.read_csv('~/CIS_4496_Project/data/raw/transactions_train.csv')
df_t.head()

shape: (5, 5)
┌────────────┬─────────────────────────────────────┬────────────┬──────────┬──────────────────┐
│ t_dat      ┆ customer_id                         ┆ article_id ┆ price    ┆ sales_channel_id │
│ ---        ┆ ---                                 ┆ ---        ┆ ---      ┆ ---              │
│ str        ┆ str                                 ┆ i64        ┆ f64      ┆ i64              │
╞════════════╪═════════════════════════════════════╪════════════╪══════════╪══════════════════╡
│ 2018-09-20 ┆ 000058a12d5b43e67d225668fa1f8d61... ┆ 663713001  ┆ 0.050831 ┆ 2                │
│ 2018-09-20 ┆ 000058a12d5b43e67d225668fa1f8d61... ┆ 541518023  ┆ 0.030492 ┆ 2                │
│ 2018-09-20 ┆ 00007d2de826758b65a93dd24ce629ed... ┆ 505221004  ┆ 0.015237 ┆ 2                │
│ 2018-09-20 ┆ 00007d2de826758b65a93dd24ce629ed... ┆ 685687003  ┆ 0.016932 ┆ 2                │
│ 2018-09-20 ┆ 00007d2de826758b65a93dd24ce629ed... ┆ 685687004  ┆ 0.016932 ┆ 2                │
└────────────┴─────────────────────────────────────┴────────────┴──────────┴──────────────────┘

In [4]:
df_t.height

31788324

In [5]:
from scripts.df_ct_combine import *
df_t_u = combine()
df_t_u

shape: (1362281, 2)
┌─────────────────────────────────────┬─────────────────────────────────────┐
│ customer_id                         ┆ articles                            │
│ ---                                 ┆ ---                                 │
│ str                                 ┆ list[str]                           │
╞═════════════════════════════════════╪═════════════════════════════════════╡
│ 000058a12d5b43e67d225668fa1f8d61... ┆ ["663713001", "541518023", ... "... │
│ 00007d2de826758b65a93dd24ce629ed... ┆ ["505221004", "685687003", ... "... │
│ 00083cda041544b2fbb0e0d2905ad17d... ┆ ["688873012", "501323011", ... "... │
│ 0008968c0d451dbc5a9968da03196fe2... ┆ ["531310002", "529841001", ... "... │
│ ...                                 ┆ ...                                 │
│ fecc5f77b5f7ee4570efde9ab05ec94d... ┆ ["915611003"]                       │
│ fece2f68864c311a0b5208e2eb735b3d... ┆ ["756322001", "822311012", ... "... │
│ fee56cc5315dafb35a4490ccc6f71109... ┆ ["903647001", "903647001"]          │
│ ff5b8a8b26bf93a66290e9bd1b73393a... ┆ ["913597001", "903420001", "7614... │
└─────────────────────────────────────┴─────────────────────────────────────┘

In [6]:
# df_t_u.to_pandas().to_csv('df_t_u.csv',index=False)

In [7]:
from sklearn.model_selection import train_test_split

# customer_train, customer_test = train_test_split(df_t_u, test_size = 0.2, random_state=9)

In [8]:
t_train, t_test = train_test_split(df_t_u['articles'][0], test_size=0.2, random_state=9)
t_train_train = pl.Series('t_train_train', [t_train])
t_train_test = pl.Series('t_train_test', [t_test])

In [9]:
for to_split in df_t_u['articles'][1:]:
    
    if len(to_split) > 1:
        t_train, t_test = train_test_split(to_split, test_size=0.2, random_state=9)

        t_train_train = t_train_train.append(pl.Series([t_train]))
        t_train_test = t_train_test.append(pl.Series([t_test]))
    else:
        t_train_train = t_train_train.append(pl.Series([to_split]))
        t_train_test = t_train_test.append(pl.Series([None], dtype=pl.List(inner=str)))

In [15]:
df_tts = df_t_u.hstack([t_train_train]).hstack([t_train_test]).rename({"t_train_train": "train", "t_train_test": "test"})
df_tts

shape: (1362281, 4)
┌────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┐
│ customer_id            ┆ articles               ┆ train                  ┆ test                  │
│ ---                    ┆ ---                    ┆ ---                    ┆ ---                   │
│ str                    ┆ list[str]              ┆ list[str]              ┆ list[str]             │
╞════════════════════════╪════════════════════════╪════════════════════════╪═══════════════════════╡
│ 000058a12d5b43e67d2256 ┆ ["663713001",          ┆ ["727808001",          ┆ ["852643001",         │
│ 68fa1f8d61...          ┆ "541518023", ... "...  ┆ "750424014", ... "...  ┆ "723529001", ... "... │
│ 00007d2de826758b65a93d ┆ ["505221004",          ┆ ["522992001",          ┆ ["787147002",         │
│ d24ce629ed...          ┆ "685687003", ... "...  ┆ "664075001", ... "...  ┆ "685687001", ... "... │
│ 00083cda041544b2fbb0e0 ┆ ["688873012",          ┆ ["695263003",          ┆ ["568571002",         │
│ d2905ad17d...          ┆ "501323011", ... "...  ┆ "723469007", ... "...  ┆ "687033001", ... "... │
│ 0008968c0d451dbc5a9968 ┆ ["531310002",          ┆ ["705732001",          ┆ ["736530014",         │
│ da03196fe2...          ┆ "529841001", ... "...  ┆ "351933029", ... "...  ┆ "685044001", ... "... │
│ ...                    ┆ ...                    ┆ ...                    ┆ ...                   │
│ fecc5f77b5f7ee4570efde ┆ ["915611003"]          ┆ ["915611003"]          ┆ null                  │
│ 9ab05ec94d...          ┆                        ┆                        ┆                       │
│ fece2f68864c311a0b5208 ┆ ["756322001",          ┆ ["889133001",          ┆ ["822311012"]         │
│ e2eb735b3d...          ┆ "822311012", ... "...  ┆ "756322001", "8917...  ┆                       │
│ fee56cc5315dafb35a4490 ┆ ["903647001",          ┆ ["903647001"]          ┆ ["903647001"]         │
│ ccc6f71109...          ┆ "903647001"]           ┆                        ┆                       │
│ ff5b8a8b26bf93a66290e9 ┆ ["913597001",          ┆ ["913597001",          ┆ ["903420001"]         │
│ bd1b73393a...          ┆ "903420001", "7614...  ┆ "761406001"]           ┆                       │
└────────────────────────┴────────────────────────┴────────────────────────┴───────────────────────┘

In [16]:
df_tts.to_pandas().to_csv('~/data/train_test_split/df_tts.csv',index=False)